# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

# Virtual environment
venv/

# PyCharm
.idea/

# Data saved by the program
*.csv

# pip install -e .
efl_scraper.egg-info/